.product {
  margin-bottom: 10px;
  padding: 6px;
  background-color: rgb(246, 245, 243);
  border: 1px solid grey;
}

.card-second-div {
  margin-top: 20px !important;
}
.amount {
  padding: 3px 15px;
  background-color: #eebebb;
  height: 25px;
  display: inline-block;
  margin: 0 10px;
  border-radius: 10px;
  line-height: 19px;
  text-align: center;
  color: #046704;
  font-weight: 700;
}
.price {
  color: #ff9800;
}
.card-button-group {
  margin-top: 22px;
}
.sell,
.buy {
  width: 38px;
  font-size: 20px;
  font-weight: 600;
  color: white;
  height: 25px;
  line-height: 2px;
}
.one-sell,
.one-buy {
  color: white;
  height: 40px;
  width: 50px;
  font-size: 25px;
  line-height: 0.5rem;
}
.one-amount {
  padding: 3px 15px;
  background-color: #eebebb;
  height: 40px;
  display: inline-block;
  margin: 0 10px;
  border-radius: 10px;
  line-height: 33px;
  text-align: center;
  color: #046704;
  font-weight: 700;
}
.product-image {
  max-width: 85%;
}
.product-litle-img {
  width: 40px;
  border: 1px solid rgb(175, 173, 173);
  border-radius: 5px;
}
.eye-open {
  color: #046704;
  height: 48px;
  padding: 5px;
  border-radius: 30%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.eye-open:hover {
  background-color: #67c367;
  color: #ffffff;
}
.eye-open span {
  font-size: 0.7rem;
}
.eye-close {
  color: #ce2a1b;
  height: 54px;
  width: 54px;
  padding: 5px;
  border-radius: 30%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.eye-close:hover {
  background-color: #f35448;
  color: #ffffff;
}

.eye-close span {
  font-size: 0.9rem;
}
.oneCart {
  width: 60%;
  margin: auto;
  margin-top: 80px;
}

/* Responsive */
@media only screen and (max-width: 768px) {
  .product-image {
    max-width: 50%;
  }
  .card-main-div {
    max-width: 85%;
    margin: auto;
  }
  .oneCart {
    width: 52%;
  }
}
@media only screen and (min-width: 768px) {
  .card-main-div {
    height: 220px !important;
  }
}
